<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" href="img/icon/home-icon.png">
    <title>Page not found</title>
</head>
<body>
    <h1>
        <code>Sorry....Page not found</code>
    </h1>
</body>
</html>